.post {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #181818;
}
.logo {
  display: block;
  max-width: 30px;
  max-height: 30px;
  margin-right: 20px;
}
.text {
  margin: 0;
}

.likes {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px 5px 0;
  font-size: 0.8rem;
  color: green;
}
